<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Web.MVC-20120808090707;Integrated Security=SSPI" />
  </connectionStrings>-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Epi Info Web Survey  Version-->
    <add key="EIWS_Version" value="0.0.0.0"/>
    <!--Epi Info Web Survey  Version-->
    <!--Email notification-->
    <add key="EMAIL_USE_AUTHENTICATION" value="false"/>
    <add key="EMAIL_USE_SSL" value="false"/>   
   <add key="EMAIL_FROM" value="me@here.now"/>
    <add key="EMAIL_PASSWORD" value="XXXXXXXXXXXXXX"/>
    <add key="SMTP_PORT" value="XXXXXXXXXX"/>
    <add key="SMTP_HOST" value="XXXXXXXXXXXXX"/> 
    <!--Email notification-->
    <!-- Log Setting -->
    <add key="LOGGING_SEND_EMAIL_NOTIFICATION" value="FALSE"/>
    <add key="LOGGING_ADMIN_EMAIL_ADDRESS" value="me@here.now"/>
    <add key="LOGGING_EMAIL_SUBJECT" value="subject"/>
    <!-- Log Setting -->
    <!-- Caching -->
    <add key="CACHE_IS_ON" value="FALSE"/>
    <add key="CACHE_DURATION" value="20"/>
    <add key="CACHE_SLIDING_EXPIRATION" value="TRUE"/>
    <!-- Caching -->    
    <!--Binding Used Name: Update this based on the binding used. Should match the name of binding in bindings section-->
    <!--<add key="ENDPOINT_USED" value="BasicHttpBinding_IDataService"/>-->
    <add key="ENDPOINT_USED" value="WSHttpBinding_IDataService"/>
    <!--Binding Used Name-->
    <!--Integrated SurveyManagerService Settings-->   
    <add key="URL" value=""/>
    <add key="AdminKey" value=""/>
    <add key="maxBytesPerRead" value="2048000"/>
    <add key="BandwidthUsageFactor"  value="50" />  <!--Bandwidth Usage Factor should be between 0 and 100 -->                                                                 
    <!--Integrated ManagerService settings-->
    <!--Messages-->
    <add key="SURVEY_NOT_EXISTS" value="The Survey does not exist. Please check the survey link and try again."/>
    <add key="SURVEY_SUBMITED_MESSAGE" value="This survey has been submitted."/>
    <add key="SURVEY_CLOSED_MESSAGE" value="This survey is currently closed. Please contact the author of this survey for further assistance."/>
    <add key="SURVEY_SUBMISSION_MESSAGE" value="Thank you! Your survey has been submitted."/>
    <!--Messages-->
    <!-- Package Type -->
    <add key="INTEGRATED_SERVICE_MODE" value="TRUE"/>
    <!-- Package Type -->    
    <!--Omniture settings-->
    <add key="OMNITURE_IS_ENABLED" value="FALSE"/>
    <add key="OMNITURE_CHANNEL_NAME" value=" "/>
    <add key="OMNITURE_LEVEL_1" value=" "/>
    <add key="OMNITURE_LEVEL_2" value=" "/>
    <add key="OMNITURE_LEVEL_3" value=" "/>
    <add key="OMNITURE_TOPIC_LEVEL_JS" value=" "/>
    <add key="OMNITURE_S_CODE_JS" value=" "/>
    <add key="OMNITURE_METRIC_URL" value=" "/>
    <!--Omniture settings-->
  </appSettings>
  <connectionStrings> 
    <!-- Connection string only relevant if the deployment mode uses the service embedded in the project -->
   <add name="EIWSEntities" connectionString=""/>
    <add name="EIWSADO" connectionString=""/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="20"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <!--use this binding when communicating with service using wsHttpBinding-->
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataService" closeTimeout="00:01:00" 
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" 
                 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" 
                 maxBufferPoolSize="524288" maxReceivedMessageSize="999999999" 
                 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
      <!--use this binding when communicating with service using basicHttpBinding. This configuation can be used for service deployed independently or part of the web application-->
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="999999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999999"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384"
            maxBytesPerRead="16384" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      
    </client>
  </system.serviceModel>
</configuration>
