<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Web.MVC-20120808090707;Integrated Security=SSPI"/>
  </connectionStrings>-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Epi Info Web Survey  Version-->
    <add key="EIWS_Version" value="0.0.0.0"/>
    <!--Epi Info Web Survey  Version-->
    <!--Email notification-->
    <add key="EMAIL_USE_AUTHENTICATION" value="false"/>
    <add key="EMAIL_USE_SSL" value="false"/>
    <add key="EMAIL_SUBJECT" value="This is the Subject line"/>
    <add key="EMAIL_FROM" value="epiinfowebsurvey@gmail.com"/>
    <add key="EMAIL_PASSWORD" value="ml@et+jh@et+nd@et"/>
    <add key="SMTP_PORT" value="587"/>
    <add key="SMTP_HOST" value="smtp.gmail.com"/>
    <!--Email notification-->
    <!-- Log Setting -->
    <add key="LOGGING_SEND_EMAIL_NOTIFICATION" value="FALSE"/>
    <add key="LOGGING_ADMIN_EMAIL_ADDRESS" value="mlamtahri@caci.com"/>
    <add key="LOGGING_EMAIL_SUBJECT" value="subject"/>
    <!-- Log Setting -->
    <!-- Caching -->
    <add key="CACHE_IS_ON" value="FALSE"/>
    <add key="CACHE_DURATION" value="20"/>
    <add key="CACHE_SLIDING_EXPIRATION" value="TRUE"/>
    <!-- Caching -->
    <!--Binding Used Name: Update this based on the binding used. Should match the name of binding in bindings section-->
    <!--<add key="ENDPOINT_USED" value="BasicHttpBinding_IDataService"/>-->
    <add key="ENDPOINT_USED" value="WSHttpBinding_IDataService"/>
    <!--Binding Used Name-->
    <!--Integrated SurveyManagerService Settings-->
    <add key="URL" value=""/>
    <!--<add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>-->
    <add key="AdminKey" value="7xzE+vOtmfVm0iyM+c1u+OHt+KQW3d5P3xE6hfHpeB8GYJ2CNYHqYrRadPQ/OKAC"/>
    <add key="maxBytesPerRead" value="2048000"/>
    <add key="BandwidthUsageFactor" value="50"/>
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <!--Integrated ManagerService settings-->
    <!--Messages-->
    <add key="SURVEY_NOT_EXISTS" value="The Survey does not exist. Please check the survey link and try again."/>
    <add key="UNKNOWN_ERROR_MESSAGE" value="An unexpected error occurred. Please click the link below to return to the Home page or contact your system administrator for more information."/>
    <add key="SURVEY_SUBMITED_MESSAGE" value="This survey has been submitted."/>
    <add key="SURVEY_CLOSED_MESSAGE" value="This survey is currently closed. Please contact the author of this survey for further assistance."/>
    <add key="SURVEY_SUBMISSION_MESSAGE" value="Thank you! Your survey has been submitted."/>
    <!--Messages-->
    <!-- Package Type -->
    <add key="INTEGRATED_SERVICE_MODE" value="TRUE"/>
    <!-- Package Type -->
    <!--Omniture settings-->
    <add key="OMNITURE_IS_ENABLED" value="FALSE"/>
    <add key="OMNITURE_CHANNEL_NAME" value=" "/>
    <add key="OMNITURE_LEVEL_1" value=" "/>
    <add key="OMNITURE_LEVEL_2" value=" "/>
    <add key="OMNITURE_LEVEL_3" value=" "/>
    <add key="OMNITURE_TOPIC_LEVEL_JS" value=" "/>
    <add key="OMNITURE_S_CODE_JS" value=" "/>
    <add key="OMNITURE_METRIC_URL" value=" "/>
    <!--Omniture settings-->
    <add key="RESPONSE_PAGE_SIZE" value="20"/>
    <add key="RESPONSE_PAGE_SIZE_Mobile" value="10"/>
    <add key="ENDPOINT_ADDRESS" value="http://172.23.3.10/EpiInfoWebEnterQA/EWEManagerService.svc"/>
    <add key="BINDING_PROTOCOL" value="Basic"/>
    <add key="WINDOW_AUTHENTICATION" value="No"/>
    <!--Enter settings End-->
    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <add key="KeyForConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ=="/>
    <add key="KeyForConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg=="/>
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+"/>
    <add key="BaseURL" value="http://localhost:54611/Login"/>
    <add key="URL" value="http://localhost:54611/Login"/>
    <add key="SEND_EMAIL_TO_ASSIGNED_USERS" value="TRUE"/>
    <!-- Password Policy Starts-->
    <add key="PasswordMinimumLength" value="6"/>
    <add key="PasswordMaximumLength" value="10"/>
    <!--<add key="UBoundDigit" value="61"/>-->
    <!--<add key="UseAlphabets" value="true"/>-->
    <add key="NumberOfTypesRequiredInPassword" value="3"/>
    <add key="TotalNumberOfTypesInPassword" value="4"/>
    <add key="UseNumbers" value="true"/>
    <add key="UseUpperCase" value="true"/>
    <add key="UseLowerCase" value="true"/>
    <add key="UseSymbols" value="true"/>
    <add key="Symbols" value="@#$|{}^"/>
    <add key="RepeatCharacters" value="true"/>
    <add key="ConsecutiveCharacters" value="false"/>
    <add key="UseUserIdInPassword" value="true"/>
    <add key="UseUserNameInPassword" value="true"/>
    <!-- Password Policy Ends-->
    <add key="FilterByUser" value="false"/>
    <add key="PPTag" value="80787d6053694493be171dd712e51c61"/>
    <add key="SVTag" value="476ba16073764022bc7f262c6d67ebef"/>
    <add key="IsEWAVLiteIntegrationEnabled" value="true"/>
    <add key="EWAVLiteBaseURL" value="http://172.23.3.10/ewavlitedev/app/index.html"/>
    <add key="IsDemoMode" value="true"/>
    <add key="FormTheme" value="Theme2" />
  </appSettings>
  <connectionStrings>

    <!--Cloud EWE_QA-->
    <!--<add name="EWEEntities" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz4dM9w4BBMaMs+rX5IWJLHlnXIW+Sn9Jb/eULG+X2wbx4+YWPl8VWe6JNKwVeBn7Xz9y8OeijheV448Vs+WNzpnsxj3cIYBbGDhXOHmuMgbq+9baAC7XvyuN1QF15wqaS3EtJg2YBdzg2P1aE6Eal+74F4wXTEeotX3vyC60vAJXm/IVqhJ1EUoiK0Op/9YqKX6MR+o3cIHKxkPEDJrExoM="/>
    <add name="EWEADO" connectionString="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iMIWWvFZPjzn4df3QtuIr0p+"/>-->

    <!--Cloud EWE_DEMO-->
    <!--<add name="EWEEntities" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz4dM9w4BBMaMs+rX5IWJLHlnXIW+Sn9Jb/eULG+X2wbx4+YWPl8VWe6JNKwVeBn7X3N5U6ll0ujLT5BZhUPdbqJG3kPcjVWF17uLPaAJDbBTho6kIDtRoyPdFIoPYnBxQmiuqbkfQ4wZPZRrARrxU4FkEL6XueOPj9wDeC380tiCHgfD4+vTfARWikXaxPryP2eTiQxMiReAxE8HJqvfPrtatZHcaG5ssNU0z3H/cybz"/>
    <add name="EWEADO" connectionString="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iMIov4BT6k/yCW80/tsNOqCs"/>-->
    <!--Cloud EIWeb_Dev-->
    <add name="EWEEntities" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz4dM9w4BBMaMs+rX5IWJLHlnXIW+Sn9Jb/eULG+X2wbx4+YWPl8VWe6JNKwVeBn7X01fF3r0UeysuXMssGlJ3TE8jtk3LJqQN9oysaOuleME9DjFUqz93/LGPYFb1er4qKmNDKmwIOq6qtffifry5IxIVLYqpqi3GdJMHtTMUgg4m/7F7ubR9Sk4zrlv0iMEEPOdbgb2WwHeSyqZtOQPEKyFw4CJ7/khu+o5h6IGgmUq"/>
    <add name="EWEADO" connectionString="jWYKIQ2mozafyeiAA0yNTos2PZgfQRA7KRaoeSvSy5yBCNBA0vmQ5yqRevBiql2c3k3nQ3RnCOn6dMJTknU3JG4YqrKcDiaLBWgGGoYOCcLu/+Wq7n40xlzix3K5/AbhqNK5B0KfUjVdEx7zZOouwRSCsITY0+heSJmFZ589iMLBgAWJM5Oki8hotXToNYcp"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="20"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint address="http://172.23.3.10/Epi.Web.ServiceHost/EWEDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEWEDataService" contract="DataServiceClient.IEWEDataService" name="BasicHttpBinding_IEWEDataService"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_dataservice" maxBufferSize="999999999" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IEWEDataService"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding_managerservice" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--Service endpoint for ManagerService-->
      <service name="Epi.Web.WCF.SurveyService.EWEManagerService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IEWEManagerService" bindingConfiguration="basicHttpBinding_dataservice"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>

      <!--Service endpoint for DataServivce-->
      <service name="Epi.Web.WCF.SurveyService.EWEDataService" behaviorConfiguration="MyServiceTypeBehaviors">
        <!-- End point to be used when the service has been exposed out using basicHttpBinding -->
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IEWEDataService" bindingConfiguration="basicHttpBinding_dataservice"/>
        <!--End point to be used when the service has been exposed out using wsHttpBinding
        
        <endpoint
               address=""
               binding="wsHttpBinding"
               contract="Epi.Web.WCF.SurveyService.IDataService"  bindingConfiguration="wsHttpBinding_managerservice"/>-->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>