@model Epi.Web.MVC.Models.UserForgotPasswordModel

@{
    ViewBag.Title = "Epi Info™ Web Enter - Forgot Password";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/jscript">
    $(document).ready(function () {

        $("#Cancel").click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("Index", "Home")';
            window.location.href = url;


        });
    });
</script>
<div id="pageHeader">
    <div id="pageTitle">
        <h2>Forgot Password</h2>
    </div>
    <div id="userwelcome"></div>
    <div style="clear: both;"></div>
</div>


<div id="content" style="margin:1em;">
 @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "myform" }))
 {
     @Html.ValidationSummary(true, "Please correct the errors and try again.")
    <div id="forgotpwd" style="margin:10px 0 2px; font-size:12pt; font-weight:bold;display: block;">
                     
                     <p style="font-size:11pt; font-weight:normal;">Enter your registered email address to have the password sent to you.</p>
                     <label for="Email" style="display: block;" >Email:</label>
        @Html.EditorFor(m => m.UserName)<br />
                    <p><button data-theme="submit2" type="submit" value="ForgotPassword" class="default">Submit</button> &nbsp; 
                    <button type="button" value="Cancel" class="default" id="Cancel" data-theme="submit2">
                    Cancel</button>
                    
    </div>
 }
</div>