@model Epi.Web.MVC.Models.UserLoginModel

@{
    ViewBag.Title = "Epi Web Enter - Forgot Password";
   
}
<div id="pageHeader">
    <div id="pageTitle">
        <h2>Forgot Password</h2>
    </div>
    <div id="userwelcome"></div>
    <div style="clear: both;"></div>
</div>


<div id="content" style="margin:1em;">
   <div id="forgotpwd" style="margin:10px 0 2px; display: block;">
                     <p>Enter your registered email address to have the password sent to you.</p>
                     <label for="Email" style="display: block; font-weight:bold;" >Email:</label>
                     @Html.TextBoxFor(m => m.UserName)
                    <p><button type="submit" value="Log in" class="default">Submit</button> &nbsp; <button type="submit" value="Log in" class="default">Cancel</button>
                    
    </div>

</div>

