@model Epi.Web.MVC.Models.UserLoginModel

@{
    ViewBag.Title = "Epi Web Enter - Forgot Password";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="pageHeader">
    <div id="pageTitle">
        <h2>Forgot Password</h2>
    </div>
    <div id="userwelcome"></div>
    <div style="clear: both;"></div>
</div>


<div id="content" style="margin:1em;">
    <div id="forgotpwd" style="margin:10px 0 2px; font-size:12pt; font-weight:bold;display: block;">
                     
                     <p style="font-size:11pt; font-weight:normal;">Enter your registered email address to have the password sent to you.</p>
                     <label for="Email" style="display: block;" >Email:</label>
                    @Html.PasswordFor(m => m.UserName)
                    <p><button data-theme="submit2" type="submit" value="Log in" class="default">Submit</button> &nbsp; <button data-theme="submit2" type="submit" value="Log in" class="default">Cancel</button>
                    
    </div>
</div>