@model Epi.Web.MVC.Models.PassCodeModel

@{
    ViewBag.Title = "Admin: Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="header"><h1>Epi Info Web Survey </h1></div>


<div id="content" style="margin:1em;">

<p style="text-align:left">Please enter the survey pass code provided along with the survey link to view your survey responses.</p>


<div class="Logsin">
  
<div class="LogHead"><h2 style="font-size: 18px; padding-bottom:6px;">Enter Pass Code </h2></div>   
<div class="logbody">  

@using (Html.BeginForm())
{
     
    @Html.ValidationSummary(true)
    <p style="margin-bottom:2px; font-size:10pt; font-weight:bold;"><label for="Passcode">Pass Code:</label>
    
    
   @Html.PasswordFor(m => m.PassCode)
    
 <button style="margin-left:10px; width:50px;" type="submit" value="Log in" class="login">Go</button></p>
}
</div> 
</div>

<p>&nbsp;</p><p>&nbsp;</p>
<p style="text-align:left; margin-bottom:100px; position:relative; ">
<span style="font-weight:bold">Note:</span> If you do not have a pass code, click the button to begin a new survey.
   <a  href="@Url.RouteUrl(null, new { controller = "Home", action = "Index", surveyid = @ViewBag.SurveyId})" class="returnto" style="margin-left:30px;">Return to Survey Home</a>
  
</p>
</div>