@model Epi.Web.MVC.Models.UserLoginModel

@{
    ViewBag.Title = "Epi Web Enter - Create New Password";
   
}
<div id="pageHeader">
    <div id="pageTitle">
        <h2>Create New Password</h2>
    </div>
    <div id="userwelcome"></div>
    <div style="clear: both;"></div>
</div>

<div id="content" style="margin:1em;">

   <div id="resetpwd" style="margin:10px 0 2px; display: block;">
                     <p>Create a new password before using Epi Web Enter.</p>
                     <label for="newpass" style="display: block; font-weight:bold;" >New Password:</label>
                     <input type="text" />
                      <label for="newpass" style="display: block; font-weight:bold;" >Confirm Password:</label>
                     <input type="text" />
                    <p>
                    <button type="submit" value="ForgotPassword" class="default" name = "Action">Submit</button> &nbsp;&nbsp;&nbsp; <button type="submit" value="Cancel" class="default">Cancel</button>
                    </p>
                    
    </div>


</div>
