@model Epi.Web.MVC.Models.UserResetPasswordModel
@{
    ViewBag.Title = "Epi Web Enter - Create New Password";
   
}
<div id="pageHeader">
    <div id="pageTitle">
        <h2>
            Create New Password</h2>
    </div>
    <div id="userwelcome">
    </div>
    <div style="clear: both;">
    </div>
</div>
<div id="content" style="margin: 1em;">
    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "myform" }))
    {
         @Html.ValidationSummary(true, "Please correct the errors and try again.")
        <div id="resetpwd" style="margin: 10px 0 2px; display: block;">
            <p>
                Create a new password before using Epi Web Enter.</p>
            <label for="newpass" style="display: block; font-weight: bold;">
                New Password:</label>
            @Html.PasswordFor(m => m.Password)
            <label for="newpass" style="display: block; font-weight: bold;">
                Confirm Password:</label>
            @Html.PasswordFor(m => m.ConfirmPassword)

            @Html.HiddenFor(m => m.UserName)
            <p>
                <button type="submit" value="ResetPassword" class="default">
                    Submit</button>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" value="Cancel" class="default" name = "Action">
                    Cancel</button>
            </p>
        </div>
    }
</div>
