<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="EIWSEntities" connectionString="metadata=res://*/Epi.Web.Model.csdl|res://*/Epi.Web.Model.ssdl|res://*/Epi.Web.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=etidhap56-sql;Initial Catalog=OSELS_EIWS;Persist Security Info=True;User ID=osels_epiws_appuser;Password=Jh01@Ti02&amp;Ml03;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
   <!--<add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3IIhW9c8wnqwnoqH4r0CP7+oySYrcikA8ntRa+/0kYichOVRTtJoCSpEUbHejW5O+gPmSEIm98vZ+ROvCo3LraXvcPRm9K+rT0RNrLhMctjY8JSPIFG+1uGRgoPdjAkZJVlOGdq8Ok1we6kuPaEWKQvgjisWTlIrLfR3N4x0Gc9KFMmpPE5jdsYn0+EKK7qj1c/iA3Z/aePQcwc0rexvePY="/>-->
    <!--<add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3IIhW9c8wnqwnoqH4r0CP79XjhQPdwuQjwy26YEannX84D4GxQZI/0IM5L8GQ1n0mxo9UiZxIBxFs+YkBspl2FZilnpjf9BAUjL+coukH+3X74vRglehlxMwCGzk5P7ckCWOXaus4pbUHqC/DRb8KGwwMqqo56GXxo6Zm0jDlysClYm5bLOhpuR+ocVuEUINIRPeCyVH2I6mxBd5EDgJ45E="/>-->
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3IIhW9c8wnqwnoqH4r0CP7+oySYrcikA8ntRa+/0kYicyCSV+m8TPojM32alE0Vze4J1YK0Dz3NCyzl2O6KEfb/QcX58u5y5rDp2+WATenVRd7oiGbuCSvvqIQKajajxqYdDPuMYt6PvZf91dmAr9YdDjl5f72/u3F80CD0+936phztKnitFMeUqUxqmUqs26YRwq2DNkfzQ4u5QSEAudjo="/>-->
    <add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3IIhW9c8wnqwnoqH4r0CP7+oySYrcikA8ntRa+/0kYicyCSV+m8TPojM32alE0Vze4J1YK0Dz3NCyzl2O6KEfb/QcX58u5y5rDp2+WATenVRHOxaqDnq76SYA+TQm3X1AepM85w/WS0MZCp4g4tz6PtZHTUdFdEwOZO6dpThmgyUb4RKiWY11nyVTVe6nCYANLzzVR8BLeWHKEAgw0HRTGk="/>
    </connectionStrings>
  <appSettings>
    <add key="URL" value="http://localhost:36025/Login/"/>
    <add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>
    <add key="maxBytesPerRead" value="2048000"/>
    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <add key="BandwidthUsageFactor"  value="50" />  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


  <system.serviceModel>
    <bindings>
      <!--basicHttpBinding to configure the service using basicHttpBinding-->
      <basicHttpBinding>
        <binding name="basicHttpBinding_dataservice" maxBufferSize="999999999"
          maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000"
            maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <!--wsHttpBidning to configure the service using wsHttpBinding-->
      <wsHttpBinding>
        <binding name="wsHttpBinding_managerservice" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000"
            maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--Service endpoint for ManagerService-->
      <service
             name="Epi.Web.WCF.SurveyService.EWEManagerService"
             behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint
               address=""
               binding="basicHttpBinding"
               contract="Epi.Web.WCF.SurveyService.IEWEManagerService" bindingConfiguration="basicHttpBinding_dataservice"/>
        <endpoint
               contract="IMetadataExchange"
               binding="mexHttpBinding"
               address="mex" />
      </service>   
      <!--Service endpoint for DataServivce-->
      <service
             name="Epi.Web.WCF.SurveyService.EWEDataService"
             behaviorConfiguration="MyServiceTypeBehaviors">
        <!-- End point to be used when the service has been exposed out using basicHttpBinding -->
        <endpoint
              address=""
              binding="basicHttpBinding"
              contract="Epi.Web.WCF.SurveyService.IEWEDataService"  bindingConfiguration="basicHttpBinding_dataservice"/>
        <!--End point to be used when the service has been exposed out using wsHttpBinding
        
        <endpoint
               address=""
               binding="wsHttpBinding"
               contract="Epi.Web.WCF.SurveyService.IDataService"  bindingConfiguration="wsHttpBinding_managerservice"/>-->
        <endpoint
               contract="IMetadataExchange"
               binding="mexHttpBinding"
               address="mex" />
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


</configuration>
