/*Layout Styles
************************************************************/
body 
 {
 background-image:url('../images/bgMainDropShadowGradient.png');
 }
 
#container
 {
 width:99%;
 /*min-height: 99%;*/
 position:relative;
 margin: auto;
 background-color: #fff;
 color: #333;
 border: 1px solid #4e9689;
/* line-height: 130%;*/
 -moz-border-radius: 10px;
 border-radius: 10px;
 -moz-box-shadow: 10px 10px 5px #888;
 -webkit-box-shadow: 10px 10px 5px #888;
 box-shadow: 10px 10px 5px #bfbfbf;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

 }
 
#header
 {
 padding: 0.5em 0.5em 1.0em .5em;
 background-color: #bfe7ea;
 border-bottom: 1px solid #4e9689;
 -moz-border-radius: 10px 10px 0 0;
 border-radius: 10px 10px 0 0;
 
 }

#header h1
 {
 padding: 0;
 margin: 0;
 font-size: 1.4em;
 font-weight: bold;
 }

#content
 {
 clear:both;
 margin-left: 0.5em;
 margin-right: 0.5em;
 padding: 1em;
 font: 10pt;
 margin-bottom: 50px !important;
 min-height:125px;
/* padding-bottom:80px; */
 }
 
/* @media screen and (min-width: 600px) {
  #content {
   background: #ccc;
    width: 50% !important;
  }
 
  #myform 
  {
   width: 50% !important;   
  }
  
}*/

#content h2
 {
 font-size: 12pt;
 font-weight: bold;
 }
 
.MvcDynamicForm
 {
  /*width:800px; 
  height:1200px;*/
  min-height:600px;
  display:block; 
  border:1px solid white; 
  position:relative;  
 }
 
#infobox
 {
 /*margin-top: -1em;*/
 border-right: 1px solid #4e9689 inset;
 padding: 0.5em;
 /*font-size: 0.8em;*/
 margin-bottom: 1em;
 background: #87d69b;
 vertical-align:middle;
 }

#surveyno
 {
 float: left;
 width: 33%;
 white-space:normal; 
 word-wrap: break-word;
 }

#orgn
 {
 float: left;
 width: 33%;
 white-space:normal;
 word-wrap: break-word;
  text-align:center;
 }

#dept
 {
 float: right;
 width: 33%;
 text-align: right;
 white-space:normal;
 word-wrap: break-word;
 }

#exit
 {
 float: right;
 width: 12%;
 position:relative;
 vertical-align:middle;
 margin-right: -10px;
 }

#prev
 {
 float: left;
 width: 35%;
 vertical-align:middle;
 }

#savediv
 {
 float: left;
 width: 15%;
 margin: 0 auto;
 vertical-align:middle;
 margin-top: -8px;
 }

#next
 {
 float: right;
 width: 38%;
 vertical-align:middle;
 }
 
 #nav
{
/*width: 90%;*/
/*text-align: center;*/
/*border-top: 1px solid #244640;*/
margin: 3em 0;
padding: 0.5em;
/*position:absolute;
bottom:80px;*/
clear:both;
}

#footer
 {
 /*position:absolute;
 bottom:0px;
 width: 98%;*/
 padding: .5em;
 color: #333;
 background-color: #f4fce8;
 border-top: 1px solid #4e9689;
 -moz-border-radius: 0 0 10px 10px;
 border-radius: 0 0 10px 10px;
 height: 40px;
 vertical-align:middle;
/* -moz-box-shadow: -1px -1px 0px 0px #888;
 -webkit-box-shadow: 1px -1px 0px 0px #888;
 box-shadow: 0px -1px 1px 0px #888;*/
 
 }

#content h2 { margin: 0 0 .5em 0; }

#footleft
 {
 float:left;
 width: 40%;
 }

#footright
 {
 float: right;
 }
 
 .image
{
float:left;
/*padding-right:5px;*/
/*width:40px;*/
}

 .errormsg
{
border: 1px solid #e6482d; 
 background: #fbe1dd; 
 margin-bottom: 10px; 
 margin-left: 0.5em; 
 margin-right: 0.5em; 
 padding: 10px;
font-size: 9pt;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
/*behavior: url('../Scripts/PIE.htc');*/
}

.message
{
float:left;
width: 86%;
vertical-align: top;
}
.success
 {
 border: 1px solid #4d8000; 
 background: #e6ffbf; 
 margin-bottom: 10px; 
 margin-left: 0.5em; 
 margin-right: 0.5em; 
 padding: 10px;
 font-size: 10pt;
 font-weight: bold;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
 }
  #attention
 {
 border: 1px solid #ffca0a; 
 background: #fff5c1; 
 margin-bottom: 10px; 
 margin-left: 0.5em; 
 margin-right: 0.5em; 
 padding: 10px;
 font-size: 10pt;
 font-weight: bold;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
/*behavior: url('../Scripts/PIE.htc');*/
 }
/*END
************************************************************/
.boldlabel
{
    font-weight:bold;
}

button.MobileExitSurvey:hover 
 {
 cursor: pointer;
 opacity: 0.8;
 }
 
 button.MobileExitSurvey
 {
 border: 1px #4e9689 solid;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
 background: #e5e5e5;
 background: rgba(255,255,255,0.9);
 width: 10px;
 padding: 2px;
 font-size: 8pt;
 font-weight:bold;
 height: 0px;
 
 }
.MvcDynamicMobileForm
 {
    display:block; 
    position:relative;  
    padding: 0.2em 1em;
    clear:both;
 }

div.MvcFieldWrapper
{
    margin-bottom:0.5em;
    margin-top:0.2em;
}

.ui-icon-myapp-exit {
	background-image: url('../images/exit1.png');
	
}

.ui-controlgroup-label{display:block !important;}
.EpiLabel  {
	/*position:absolute;*/
	color: #000;   
	/*font-family: "Segoe UI", Tahoma, Geneva, Verdana, AriaL, sans-serif;  
	font-size: 10pt;  
	/*white-space: pre;*/
	white-space:normal;
	display:block !important;
	margin: 0.2em 0 0.5em 0;
}
#close:hover
{
    opacity:0.8;
}

/*MobilePage.css
******************************************************************/
.pages {
/* font: 9pt;*/
 float: left;
/* margin-top: 4px;*/
/* width:50%;*/
 min-width:160px;
 /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
 /*color: #244640;*/
}
.pages span.current {
    border: 1px solid #4e9689;
    font-weight: bold;
    background:#4e9689;
    color: #fff;
    vertical-align:middle;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.pagesbottom {
/* font: 9pt;*/
/* float: left;*/
/* margin-top: 4px;*/
 width:50%;
/* min-width:160px;*/
/* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 color: #244640;*/
 display:inline;
}

.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }


/*Buttons & links*/

a.prev:active, a.next:active, a.exitsurvey:active, a.save:active, a.submits:active, .ui-btn-down-submit1, .ui-btn-down-save1
 {
 cursor: pointer;
 opacity: 0.8;
 
 }

img.button 
 {
 vertical-align:text-top;
 }
 
a.prev, a.next, a.save
 {
     cursor: pointer;
 border: 1px #4e9689 solid;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
 padding: 3px 5px 3px 5px;
 color:#244640 !important;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 /*font-size: 10pt;*/
 font-weight:bold;
 padding-top:10px;
 /*width: 90px;*/
 border: 1px solid rgba(0,0,0,0.5);
 background: #d4eab3; 
 background: rgba(195,255,104,0.6); 
 background-size:24px 24px;
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  /*behavior: url('../Scripts/PIE.htc');*/
 }

a.prev
{
  background-image: url('../images/arrow_left.png');
  background-position:center center;
  background-repeat:no-repeat;
  padding:10px 20px;
  height:30px;
  vertical-align:middle;
    text-decoration:none;
}

a.next
{
  background-image: url('../images/arrow_right.png');
  background-position:center center;
  background-repeat:no-repeat;
  text-decoration:none;
    padding:10px 20px;
    height:30px;
    vertical-align:middle;
}

a.submits
{
  background-image: url('../images/submit.png') !important;
  background-position:10px center !important;
  background-repeat:no-repeat !important;
    padding:10px 20px 10px 30px;
    height:30px;
    vertical-align:middle;
}

a.submits
 {
     cursor: pointer;
 border: 1px #4e9689 solid;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
/* padding: 3px 5px 3px 5px;*/
 color:#244640 !important;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 width: 160px;
 border: 1px solid rgba(0,0,0,0.5);
 background: #bfe7ea; 
 background: rgba(191,231,234,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
/*behavior: url('../Scripts/PIE.htc');*/
 }
 
 a.exitsurvey
 {
     cursor: pointer;
 border: 1px #4e9689 solid;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
 border-radius: 5px;
 background: #e5e5e5;
 background: rgba(255,255,255,0.9);
 width: 80px;
 padding: 0.625em 8px;
 font-size: 8pt;
 font-weight:bold;
 /*height: 26px;*/
 color: #333 !important;
 vertical-align:text-bottom;
 text-decoration: none;
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
 /*behavior: url('../Scripts/PIE.htc');*/
 }
 
 a.save
{
    background-image: url('../images/save.png');
    background-position:center center;
    background-repeat: repeat-x;
    background-repeat:no-repeat;
    padding:10px 20px;
  height:30px;
  vertical-align:middle;
    text-decoration:none;
}

 a.login:hover
 {
 cursor: pointer;
 opacity: 0.8;
 }


 
a.login
 {
 cursor: pointer;
 border: 1px #4e9689 solid;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
 padding: 3px 5px 3px 5px;
 color:#244640 !important;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 /*font-size: 10pt;*/
 font-weight:bold;
/* padding-top:10px;*/
 /*width: 90px;*/
 border: 1px solid rgba(0,0,0,0.5);
 background: #d4eab3; 
 background: rgba(195,255,104,0.6); 
 background-size:24px 24px;
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  /*behavior: url('../Scripts/PIE.htc');*/
 }
.ui-btn-up-submit1
 {
     /* padding:0 0 0 10px;*/
     padding-left:5px;
      background-image: url('../images/submit.png') !important;
  background-position:5px center !important;
  background-repeat:no-repeat !important;
      margin: 0px 5px 2px 0 !important;
    /*height:30px;*/
    vertical-align:middle;
     cursor: pointer;
 border: 1px #4e9689 solid;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
/* padding: 3px 5px 3px 5px;*/
 color:#244640 !important;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
/* font-size: 10pt;*/
 font-weight:bold;
 /*width: 160px;*/
 border: 1px solid rgba(0,0,0,0.5);
 background: #bfe7ea; 
 background: rgba(191,231,234,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
/*behavior: url('../Scripts/PIE.htc');*/
 }
 
 .ui-btn-up-save1
 {
     cursor: pointer;
     float: right;
     margin: 0px 0px 0 2px !important;
 border: 1px #4e9689 solid;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
 padding: 3px 5px 3px 5px;
 color:#244640 !important;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 /*font-size: 10pt;*/
 font-weight:bold;
/* padding-top:10px;*/
 /*width: 90px;*/
 border: 1px solid rgba(0,0,0,0.5);
 background: #d4eab3; 
 background: rgba(195,255,104,0.6); 
 background-size:24px 24px;
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  /*behavior: url('../Scripts/PIE.htc');*/
   background-image: url('../images/save.png');
    background-position:center center;
    background-repeat: repeat-x;
    background-repeat:no-repeat;
   padding:9px 15px 8px 15px;
  
  vertical-align:middle;
    text-decoration:none;
 }
 
 a.watch
 {
 border: 1px #04aeda solid;
 /*rgin:0.5em 0;*/
 padding: 3px 32px;
 color:#fff !important;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 width: 200px;
 background: #04aeda; 
text-shadow: none !important;
text-decoration:none;
 }
 
 button.copylink
{
   background-color:transparent;
   border:none;
   color: #0a2695;
   text-decoration: underline;
   cursor:pointer;
   padding:0;
   /*padding-left: 20px;
   font-family: Segoe UI;*/
   font-weight:bold;
 }
 
 button.copylink:active
{
   text-decoration: none;
     
 }
 
 .ui-simpledialog-container
 {
     background:white !important;
     padding: 10px !important;
 }

/*div.ui-checkbox, div.ui-radio, .ui-btn select, .ui-Radio { font-weight:400;}*/
.ui-btn-text { text-align:left !important;}

div.EpiLabel[style*="font:"]{font-family:"Segoe UI",Tahoma,Geneva,Verdana !important; color: #333 !important; font-size-adjust:0.76 !important;}

#url {height:60px !important;}

/*.ui-btn-up-c {font-weight:400 !important;}*/

span.ui-icon-arrow-d[style*="background-color: yellow;"]{background-color: #959595 !important;}

span.ui-icon-checkbox-on[style*="background-color: yellow;"]{background-color: #4288b9 !important;}

span.ui-icon-radio-on[style*="background-color: yellow;"]{background-color: #4288b9 !important;}

.draft
{
    background-image:url('../images/draft.png'); 
    background-repeat:no-repeat;
    background-position: center top;
    background-size: 80% 120px;
    background-origin:content-box;
    background-repeat:repeat-y;
   
}
 
 .final
{
     background-image: none !important;
}

/*#header h1:after
{
    content:"DRAFT";
    color:Blue
}*/
.TestHeader h1:after
{
    /*content:"DRAFT";
    color:Blue;*/
    
    }