 .pages {
/* font: 9pt;*/
 float: left;
/* margin-top: 4px;*/
/* width:50%;*/
 min-width:120px;
 /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
 /*color: #244640;*/
}


img { border: none;}

.pages a {
	color:#244640;
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
    text-decoration:none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
}

.pages span {
	color:#244640;
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    /*border: 1px solid #fff;*/
   /* background: #fff;*/
    
}

.pages span.current {
   border: 1px solid #1f3b53;
    background: #5c53ac;
    font: 11pt lighter "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
   /* margin-top:1px;*/
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
       -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(158,158,158,0.3);
}

.pages a {
    border: 1px solid #1f3b53;
    text-decoration: none;
}

.pages a:hover {
    border-color: #5c53ac;
    cursor: pointer;
    opacity:0.8;
}

.pages a.nextprev {
    font-weight: bold;
    background: #fff;
   padding: 0.2em 0.2em;
    background-repeat:no-repeat;
    background-position:center; 
    width:23px;
    margin: 0 0.2em;
}

.pages a.nextprev:hover, .pages a.nextprev:active {
    background-color: #ffc000 !important; 
    -webkit-tap-highlight-color:rgba(0,0,0,0.5);
}
.pages span.nextprev {
    color: #666;
     padding: 0.2em 0.2em;
     vertical-align: middle;
}

.pages span.nextprev {
    border: 1px solid #ddd;
    color: #999;
    background: #fff;
}

.pages .nextprev-next {
    float: right;
}

* html .pages a.nextprev, * html .pages span.nextprev { /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
vertical-align: middle;
margin-top: 100px;
}


label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }

