@{
    ViewBag.Title = "Epi Web Enter - My Forms"; //+ " - " +
       // Model.SurveyName + " - " + Model.IsDraftModeStyleClass + " - Mobile";  
}

<script type="text/javascript" >

    $(document).ready(function () {
        // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
        
       
 

//         $("#VideoDialog").dialog({
//            autoOpen: false,
//            show: "blind",
//            hide: "blind",
//            resizable: false,
//            height: 410,
//            width: 500,
//            modal: true
//        });

//          
//          document.getElementById("VideoDialog").style.display ="none";
       });
        
// $(document).delegate('#VideoDialog', 'click', function() {
// $(this).simpledialog({
//                'mode' : 'blank',
//                'prompt': false,
//                'forceInput': false,
//                'useModal':true,
//                'buttons' : {
//                              'OK': {
//                                click: function () {
//                                  $('#dialogoutput').text('OK');
//                                }
//                              }
//                       
//                            },
//                      'fullHTML': "<Div><iframe width='480' height='360' src='http://www.youtube.com/embed/BgTJnSKQKIs?rel=0' frameborder='0' allowfullscreen></iframe><span style='font: bold 10pt Segoe UI; color:#04aeda; '>  Epi Info 7</span></Div>"
//                         })

//               

//         
//});
</script>
 
<div id="pageHeader">
  	<div id="pageTitle"><h2>My Forms</h2></div>
   	<div id="userwelcome">Welcome <strong>John</strong>&nbsp; | &nbsp;<a href="#">Log Out</a></div>
  	<div style="clear:both;"></div>
</div> 
       		 
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myform" }))
{ 
     
        
<div id="content" style="margin-bottom:200px;">
     <div id="leftarrangeby" style="float:left; vertical-align:middle; font-size:10pt;">
        <span class="css3-metro-dropdown">
            <select name="dropdown-1">
                <option value="0" selected="selected" disabled="disabled">Arrange by:</option>
                <option value="1">Published Forms First</option>        
                <option value="2">Collection Forms First</option>
                <option value="3">Last Saved Forms First</option>
            </select>
        </span>           
     </div>

      <div class="section group" id="main">
            <div id="left" class="col span_1_of_3">
                    <div class="divcontents">
                    <a id="linkform" href="#" style="text-decoration:none;">
	                <div class="metro-tile metro-design metro-staging">
                        <h3>Form Designer Form in Staging</h3>
                    </div>
                    </a>
                    <div class="metro-tile metro-design metro-prod">
                        <h3>Form Designer Form in Production</h3>
                    </div>
                    <div class="metro-tile metro-collect metro-staging">
                        <h3>Data Collector Form in Staging</h3>
                    </div>
                    <div class="metro-tile metro-collect metro-prod">
                        <h3>Data Collector Form in Production</h3>
                    </div>
                    <div class="metro-tile metro-design metro-staging">
                        <h3>NIO Feedback Survey - Selected for Viewing</h3>
                    </div>
                    <div class="metro-tile metro-design metro-staging">
                        <h3>Form Designer Form in Staging</h3>
                    </div>
                    <div class="metro-tile metro-design metro-prod">
                        <h3>Form Designer Form in Production</h3>
                    </div>
                    <div class="metro-tile metro-collect metro-staging">
                        <h3>Data Collector Form in Staging</h3>
                    </div>
                    <div class="metro-tile metro-collect metro-prod">
                        <h3>Data Collector Form in Production</h3>
                    </div>
              </div> 
	        </div>
	       
	     </div> 
     @*@if (Model.ClosingDate >= DateTime.Now && Model.StartDate <= DateTime.Now)
      {
                      
            <p style="width: 250px; min-width:120px; margin: 0 auto;"><button id="beginsurvey" class="ui-btn-hidden" data-theme="e" type="submit" aria-disabled="false" > Begin Survey</button></p>
      }

     else
        { 
               
        if (Model.StartDate > DateTime.Now)
            { 
                <div id="attention">
                        <img src="@Url.Content("~/Content/images/sign_warning.png")" alt="" style="vertical-align: middle; padding-right: 10px;" /> 
                        Survey has not yet started.
                        <p style="text-align:center">Survey Starting Date: @string.Format("{0:f}", Model.StartDate)</p>
                </div>

            }
            if (Model.ClosingDate < DateTime.Now)
                {
                   
                <div id="attention">
                        <img src="@Url.Content("~/Content/images/sign_warning.png")" alt="" style="vertical-align: middle; padding-right: 10px;" />
                        This survey is currently closed. Please contact the author of this survey for further assistance.
                        <p style="text-align:center">Survey Closing Date: @string.Format("{0:f}", Model.ClosingDate)</p>
                </div>
                }
        }*@
                
    </div>
           
        

               
    }

     

    @{if (ViewBag.Omniture.IsEnabled == true)
    { 
        Html.RenderPartial("OmniturePartial");  
    } 
}