@model IEnumerable<Epi.Web.MVC.Models.FormInfoModel>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
    <td>
    @foreach (var item in Model)
    {
        
           <div class="@item.CssClassName"> 
             <h3>@item.FormName</h3>
                    </div> 
       
        
                        
    }
      
                    
                    </td>
      
    </tr>

</table>
