@*@model System.Web.Mvc.HandleErrorInfo*@
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>
        Sorry, an error occurred while processing your request.</br>
        @ViewBag.ErrorName
    </h2>
