
    <div id="footer">
        <div id="footleft">
            <span style="font-size: 8pt;">Powered by:</span>
            <img alt="Epi Info 7" height="42" src="../../Content/images/epi.png" width="42" align="middle" />
        </div>
        <div id="footcenter">
        </div>
        <div id="footright">
            <img alt="Centers for Disease Control and Prevention" height="42" src="../../Content/images/cdclogo.png" width="71" />
            <img src="../../Content/images/logo_dhhs.gif" alt="Department of Health and Human Services" height="42" />
        </div>
        <div style="clear: both;">
        </div>
    </div>
