    
    
    <div id="footer">
        <div id="footleft">
            <span style="font-size: 8pt;">Powered by:</span>
            <img src="@Url.Content("~/Content/images/epiIcon.png")" width="42px" height="42" align="middle" alt="Epi Info 7" />
                <div style="font-size: 8pt; margin-top: -15px; display: inline;"> V @ViewBag.Version</div>
        </div>
        <div id="footright">
            <img src="@Url.Content("~/Content/images/cdclogo.png")" height="42"  width="71" alt="Centers for Disease Control and Prevention"  />
            <img src="@Url.Content("~/Content/images/logo_dhhs.gif")" height="42" alt="Department of Health and Human Services"  />
        </div>
        <div style="clear: both;"></div>
    </div>