@charset "utf-8";
/* CSS Document */

/* Added CSS for Theme Styling */

div legend {background-color: #127bc0;
		color: #ffffff;
		padding: 1px 5px;
		font-size:13px !important;
		margin-top:-5px;
		margin-left:10px;
		/*border-radius: 5px;*/
		text-transform: uppercase;
		

}


/* might need to change this on main EWE CSS*/


select {font-size:12px!important}


/* ------------------------------------------ */


input {
    border: 1px solid #B3B3B3;
    height: 21px;
    font-size:12px!important;
}



select::-ms-expand {
    display: none;
}  

select {

  /* make arrow and background */

 background-image:
    linear-gradient(45deg, transparent 50%, #8dbd3c 50%),
    linear-gradient(135deg, #8dbd3c 50%, transparent 50%),
    linear-gradient(to right, #8dbd3c, #8dbd3c);
  background-position:
    calc(100% - 9px) calc(0.8em + 0px),
    calc(100% - 4px) calc(0.8em + 0px),
    calc(100% - 1.5em) 0.45em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1em;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #b3b3b3;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  /*padding: 0.5em 3.5em 0.5em 1em;*/

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  height:25px;
}





select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


div.MvcFieldWrapper {padding-bottom:10px !important}

/* Changed CSS for Theme Styling */
div fieldset
{
  border:1px solid #8dbd3c;
  padding:2px;
  /*border-radius: 6px;*/
  padding-top:-100px;
	}


input[type=checkbox] label {
  display: inline;
  
}
input[type=checkbox]  {
  display: inline;
  ms-transform: scale(0); /* IE */
 -moz-transform: scale(0); /* FF */
 -webkit-transform: scale(0); /* Safari and Chrome */
 -o-transform: scale(0); /* Opera */
}

input[type=checkbox] + label:before {
  background-color: #ffffff;
  border: 1px solid #b3b3b3;  
  display: inline-block;
  transition-duration: 0.3s;
  width: 14px;
  height: 14px;
  content: '';
  margin-left: -20px;
  margin-right:5px;
}

input [type=checkbox][disabled] + label:before {
background-color: #b7b8b9;

}

input[type=checkbox]:checked + label:before {
 background-color: #ffffff;
 background-image: url("../../images/checkmark1.png");
  
}

textarea {
	border: 1px solid #b3b3b3; 
	
	}