@model Epi.Web.MVC.Models.SurveyModel  
<div id="Main">
@{

    int num = 0;
   // foreach (var Obj in Model.RelateModel)
    for (int i = 0; Model.RelateModel.Count() > i;i++ )
        {
        
        <div>
        @if(i==0){
                   <p><span style="font-weight:bold;">Parent Response Link:</span></p>
                      @Html.ActionLink("    Parent Response", "Index", "Survey", new { responseid = Model.RelateModel[i].ResponseIds[i], PageNumber = 1 }, new { id = "RelateLink" })
                       <br />
                    
         }
         else
         {
              if(i==1)
              {
              <p><span style="font-weight:bold;">Relate Form Responses Links:</span></p>
              }
               foreach (var Obj in Model.RelateModel[i].ResponseIds)
               {
               num++;
           
                @Html.ActionLink("   Response Number" + num, "Index", "Survey", new { responseid = Obj, PageNumber = 1 }, new { id = "RelateLink" })	
                           <br />
                        <br />
                        <br />
           
               }



         }



          </div>
        }
   }
</div>

