@model Epi.Web.MVC.Models.SurveyModel  
<div id="Main">
@{

    
   // foreach (var Obj in Model.RelateModel)
    for (int i = 0; Model.RelateModel.Count() > i;i++ )
        {
        
        <div>
        

        @if (i == 0)
            {
             <ul>
            <li id="@i"  >
                   <p><span style="font-weight:bold;">Parent Response Link:</span></p>
                      @Html.ActionLink("    Parent Response", "Index", "Survey", new { responseid = Model.RelateModel[i].ResponseIds[i].ResponseId, PageNumber = 1 }, new { Class = "RelateLink" })
                       <br />
                  </li>  
                  </ul>
            }
        else
            {
            
            
              if (i == 1)
                  {
                   <ul>
                    <li id='i'  > 
                            <p><span style="font-weight:bold;">Relate Form Responses Links:</span></p>
                    </li>
                  </ul>
                  }
             
           
              <ul>
                    <li >
                          <p><span style="font-weight:bold;">View Id: @Model.RelateModel[i].ViewId </span></p>  
                           
                   
                   
                    </li>
                     

                      
             @{
              
              int num = 1;

              foreach (var Obj in Model.RelateModel[i].ResponseIds)
                  {     
                           
                             <ul>
                                  <li>
           
                                           <p><span style="font-weight:normal;">  @Html.ActionLink("Response Number" + num, "Index", "Survey", new { responseid = Obj.ResponseId, PageNumber = 1 }, new { Class = "RelateLink" })</span></p> 	
                                 </li>  
                            </ul> 
                        
                  num++;
                  } 
                }
                      
                       
            </ul>
            
          
            }


          

          </div>
        }
   }
</div>

