<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings>
<!--<add name="OSELS_EWEEntities" connectionString="metadata=res://*/Epi.Web.Model.csdl|res://*/Epi.Web.Model.ssdl|res://*/Epi.Web.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ETIDHAP56-SQL;initial catalog=OSELS_EWE;persist security info=True;user id=osels_epiws_appuser;password=Jh01@Ti02&amp;Ml03;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<add name="OSELS_EWEEntities" connectionString="metadata=res://*/Epi.Web.Model.csdl|res://*/Epi.Web.Model.ssdl|res://*/Epi.Web.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ETIDHAP56-SQL;Initial Catalog=OSELS_EWE;Persist Security Info=True;User ID=osels_epiws_appuser;Password=Jh01@Ti02&amp;Ml03;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>