<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
  <appSettings>
    <add key="AdminKey" value="EpiSuperUser"></add>
    <add key="Authentication_Use_Windows" value="FALSE"></add>
    <!--<add key="Authentication_Use_Windows" value="TRUE"></add>-->
   <add key="EndPointAddress" value="http://localhost:22587/Epi.Web.ServiceHost/SurveyManagerService.svc"></add> 
    <!--<add key="EndPointAddress" value="http://dhap56ot.emergint.com/EIWS11/SurveyManagerService.svc"></add>-->
    <!--<add key="EndPointAddress" value="http://dhap56ot.emergint.com/EIWS12/SurveyManagerService.svc"></add>-->
     <!--<add key="EndPointAddress" value="http://localhost:22587/SurveyManagerService.svc"></add>--> 

    <!--<add key="EndPointAddress" value="http://dhap56ot.emergint.com/EpiSurveyManager/SurveyManagerService.svc"></add>-->
    <!--<add key="EndPointAddress" value="http://dhap56ot.emergint.com/EpiSurveyManager_WS/SurveyManagerService.svc"></add>-->

    

    <!--<add key="WCF_BINDING_TYPE" value="BASIC"></add>-->
    <add key="WCF_BINDING_TYPE" value="WSHTTP"></add>
    <add key="SHOW_TESTING_FEATURES" value="FALSE"></add>
    <add key="maxBufferPoolSize" value="524288"></add>
    <add key="maxReceivedMessageSize" value="999999999"></add>
    <add key="maxDepth" value="32"></add>
    <add key="maxStringContentLength" value="2048000"></add>
    <add key="maxArrayLength" value="16384"></add>
    <add key="maxBytesPerRead" value="4096"></add>
    <add key="maxNameTableCharCount" value="16384"></add>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEWEManagerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22587/Epi.Web.ServiceHost/EWEManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEWEManagerService"
        contract="EWEManagerService.IEWEManagerService" name="BasicHttpBinding_IEWEManagerService" />
    </client>
  </system.serviceModel>
</configuration>